body {
    background-color: hsl(216, 12%, 8%);
}

.display-1 {
    width: 310px;
    height: 320px;
    background-color: hsl(213, 19%, 18%);
    margin: auto;
    margin-top: 300px;
    padding: 20px;
    border-radius: 20px;
    display: none;
}

.star {
    border-radius: 100%;
    background-color: hsl(217, 12%, 63%);
    width: 20px;
    padding: 10px;
}

.display-1 h2,
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.number {
    width: 48px;
    height: 48px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: hsl(217, 12%, 63%);
    color: white;
}

.rate-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.submit button{
    display: block;
    width: 290px;
    height: 35px;
    background-color: hsl(25, 97%, 53%);
    margin: 30px auto 0;
    border-radius: 50px;
    border: 0 solid orange;
    font-weight: 700;
}

.display-2{
    width: 310px;
    height: 320px;
    background-color: hsl(213, 19%, 18%);
    margin: auto;
    margin-top: 300px;
    padding: 20px;
    border-radius: 20px;
    display: block;
    text-align: center;
}
